* body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
  margin-left: 400px;
}

#titulo {
  text-align: center;
  color: darkblue;
}

#titulo:hover {
  background-color: olive;
}

#foto {
  width: 100%;
  height: 150px;
}

#minha_foto {
  width: 200px;
  border-radius: 20%;
  margin-top: 100px;
  margin-left: 70px;
  float: left;
  border-style: solid;
  border-width: 3px;
  border-color: darkolivegreen;
}

#licoes_aprendidas {
  font-family: Akaya Telivigala, cursive;
  display: inline-block;
  font-size: large;
  line-height: 20px;
}

#licoes_a_aprender {
  font-family: Akaya Telivigala, cursive;
  margin-left: 15px;
  font-size: large;
  line-height: 20px;
}

section {
  display: inline;
}

#licaoaprendida {
  font-family: Akaya Telivigala, cursive;
}

#licaoaaprender {
  font-family: Akaya Telivigala, cursive;
}

.licaoaprendida {
  margin-left: 50px;
}

#rodape {
  background-color: darkolivegreen;
  height: 150px;
}

#texto_rodape {
  padding-top: 120px;
  padding-left: 50px;
  font-size: 16px;
}

.lado-esquerdo {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  margin-top: 100px;
  margin-left: 40px;
  text-align: justify;
}

.lado-direito {
  display: inline-block;
  margin-left: 100px;
  width: 200px;
  margin-top: 80px;
  text-align: justify;
}

span {
  text-decoration: none;
}

#tabela {
  margin-left: 350px;
  width: 500px;
  border: 3px;
  border-color: black;
  border-style: dashed;
}

td , tr , th {
  border-color: gray;
  border-style: dashed;
}

a {
  text-decoration: none;
}
