* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Oswald, sans-serif;
  margin-top: 55px;
}

a {
  text-decoration: none;
  color: black;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  display: inline-block;
  z-index: 1;
  background-color: rgb(3, 107, 82);
}

#cabecalhoEsquerdo {
  display: inline-block;
  width: 45%;
  text-align: center;
}

#cabecalhoDireito {
  display: inline-block;
  width: 54%;
  text-align: center;
}

.listaCabecalho {
  display: inline-block;
  margin-left: 50px;
  font-size: 30px;
}

#titulo {
  display: inline-block;
  top: 30px;
  font-size: 35px;

}

#minha_foto {
  width: 300px;
  border-radius: 100%;
  position: relative;
}

#nomeFoto {
  font-size: 35px;
}

#perfil {
  display: inline-block;
  text-align: center;
  margin-left: 79%;
  margin-top: 4%;
  position: absolute;
  width: 300px;
}

.lado-esquerdo {
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
  color: rgb(11, 100, 3);
}

.lado-direito {
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
  color: rgb(26, 71, 219);
}

#listas {
  display: inline-block;
  width: 98%;
  margin-left: 2%;
}

#aprendi {
  width: 35%;
  display: inline-block;
  margin: 3%;
}

#aprendiText {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: rgb(11, 100, 3);
}

#devoAprender {
  width: 35%;
  display: inline-block;
}

#devoAprenderText {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: rgb(26, 71, 219);
}

#listaEsquerda {
  display: inline-block;
  width: 40%;
  margin-left: 2%;
}

#listaDireita {
  display: inline-block;
  width: 40%;
}

#historia {
  margin: 2%;
  font-size: 27px;
  text-align: justify;
}

#outraHistoria {
  margin: 2%;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}

table , th , td {
  border: 1px solid black;
  border-collapse: collapse;
}
