body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;
}

a {
  text-decoration: none;
}

td , footer nav , #intro , .lado-direito , .lado-esquerdo , .icon {
  padding: 10px;
}

main {
  width: 60%;
  margin: auto;
}

main h1 {
  text-align: center;
}

table , th , td {
  border: 1px solid rgb(100, 135, 107);
}

table {
  border-collapse: collapse;
}

ul , ol {
  padding: 0 0 0 30px;
}

footer {
  width: 100%;
  text-align: center;
  margin: auto;
  right: 0;
  bottom: 0;
}

#cabecalho {
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(100, 135, 107);
  z-index: 2;
  color: white;
}

#cabecalho h1 {
  font-size: 26px;
}

#page_content {
  position: relative;
  padding: 80px 0 20px;
  left: 0;
  z-index: 1;
}

#intro {
  display: flex;
  justify-content: space-evenly;
}

#minha_foto {
  height: 240px;
  border-radius: 100%;
}

.lado-esquerdo {
  width: 60%;
  display: inline-block;
}

.lado-direito {
  width: 30%;
  float: right;
}

.lado-direito , .lado-esquerdo {
  text-align: justify;
}

.icon {
  width: 30px;
  height: 30px;
}

#copy {
  font-size: 14px;
}
