body {
    background-color: rgb(253, 251, 251);
}
#nav1 {
    float: right;
    margin-block-start: 2em;
    margin-block-end: auto;
    margin-right: 30px;
}
#cabecalho {
    background-color: rgb(68, 197, 75);
    border: 1px solid black;
    position: fixed;
    top: 0px;
    display:block;
    width: 1278px;
}

#titulo {
    color: white;
    display: inline-block;
    margin-left: 30px;
}

#minha_foto {
    border-radius: 10px 20px 10px 40px;
    border-style: solid;
    border-color: black;
}

#licoes_aprendidas {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 20px;
    font-size: 15px;
    vertical-align: top;
}
#secao_listas {
    align-content: center;
    text-align: center;
}

#secao_foto {
    margin-left: 50px;
    display: inline-block;
    margin-top: 25px;
}

#secao_artigo {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    width: 625px;
    vertical-align: top;
    text-align: justify;
}

#secao_licoes_aprendidas {
    display: inline-block;
    margin: 30px;
    width: 300px;
    vertical-align: top;
}

#secao_licoes_aprender {
    display: inline-block;
    margin: 30px;
    width: 300px;
    vertical-align: top;
}

#licoes_a_aprender {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 20px;
    font-size: 15px;
    vertical-align: top;
}

#rodape {
    background-color: rgb(61, 43, 226);
    text-align: center;
    align-content: center;
}

#principal {
    display: inline-block;
    margin-top: 100px;
}

#aolado {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    text-align: justify;
}

.lado-direito {
    padding-left: 10px;
}

.lado-esquerdo {
    padding-right: 10px;
}

td {
    width: 50px;
}

.td_ocupada {
    background-color: coral;
}

#tabela {
    border: 0.5px solid black;
    border-radius: 4px;
}

#centraliza_tabela {
    width: 100%;
    text-align: center;
    background-color: blue;
}