body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(7, 29, 71);
}

#titulo {
  font-size: 30px;
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(103, 201, 247);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#nav {
  padding: 5px;
  border: 5px solid black;
  left: 0;
}

.nav-links li {
  display: inline-block;
  width: 150px;
}

#minha_foto {
  width: 150px;
  padding: 180px 10px 10px;
}

#rodape {
  color: rgb(7, 29, 71);
  font-style: italic;
  font-size: 20px;
  height: 40px;
  padding: 25px 10px 10px;
  background-color: rgb(103, 201, 247);
  border: 5px solid black;
}

.article-left, .aside-right {
  padding: 20px 10px 10px;
  width: 400px;
  display: inline-block;
  text-align: center;
}