body {
  background: rgb(253, 251, 251);
}

#cabecalho {
  left: 30%;
  border: 2px solid lightgray;
  position: fixed;
  top: 0px;
}

#titulo {
  color: darkslategray;
}

#minha_foto {
  border-radius: 30%;
  width: 250px;
}

#licoes_aprendidas {
  font-family: monospace , sans-serif;
  font-weight: 300;
}

#githubimage {
  width: 100px;
}

.trybecolor {
  color: rgb(39, 167, 137);
  font-weight: 900;
}

#artigo {
  font-family: monospace, sans-serif;
  max-width: 50%;
}
