#Background {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    top: 0px;
}
#titulo {
    color: red;
}
#minha_foto {
    width: 200px;
}
#licoes_aprendidas {
    color: blue;
}
#licoes_a_aprender {
    
}
    