    body {
        position: relative;
        height: 100%;
    }
    
    #Background {
        background-color: rgb(253, 251, 251);
    }
    
    #cabecalho {
        text-align: ;
        position: fixed;
        top: 0px;
    }
    
    #titulo {
        color: red;
    }
    
    #minha_foto {
        width: 200px;
    }
    
    #licoes_aprendidas {
        color: blue;
        font-family: 'Courier New'
    }
    
    #licoes_a_aprender {
        color: red;
    }
    
    #rodape {
        text-align: center;
        height: 10px;
        bottom: 0;
        width: 100%;
        background-color: blue;
        position: absolute
        
      
        }
        