* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: rgb(253, 251, 251);
}
h1 {
    font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: bold;
  color:darkslategray;
  line-height: 20px;
  font-size:24px;
}
p,
a {
  font-family: "Nunito Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul{
  border:1px;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
header {
  border: 0;
  top: 0px;
  padding-top: 40px;
  position: fixed;
  min-width: 100%;
  background-color: #32a791;
  color: white;
  z-index: 10;
}
#headerbox nav {
  float: right;
  margin: 0px 40px 20px 0px;
}
#headerbox h1 {
  text-align: center;
  margin-bottom: 20px;
}
#headerbox a {
  color: white;
}
#photo-name {
  float: left;
  display: flex block;
  width: 300px;
  z-index: 1;
  
}
#minha_foto{
  padding:10px 10px 10px 10px;
  border: 2px dashed darkslategray;
}
#photo-name img {
  width: 300px;
  object-fit: cover;
  height: 600px;
  border-radius: 15rem;
}
#photo-name h2 {
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-around;
}
#lesson {
  margin-top: 150px;
  min-width: 60%;
}
#lesson h2 {
  text-align: center;
}
#trilhas {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}
#trilhas img {
  width: 200px;
}
#FrontEnd {
  max-width: auto;
  display: block;
  align-items: center;
}
#FrontEnd h2 {
  text-align: center;
}
#frontend-lessons img {
  width: 60px;
  margin: 0px 0px 10px 65px;
}
#unix {
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
}
#Softskills {
  max-width: auto;
  display: block;
  align-items: center;
}
#softskills-lessons img {
  width: 60px;
  margin: 0px 0px 10px 65px;
}
#puzzle{
  transform:rotate(-26deg)
}
#lista-lessons {
  margin-top: 10px;
  border-left: 2px dashed #32a791;
  border-right: 2px dashed #32a791;
}
#lista-lessons h2 {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 20px;
  word-spacing: 10px;
  font-weight: 100;
  margin-top: 30px;
  color: red;
  text-shadow: 1px 1px darkslategrey;
  font-size:larger;
}
#lista-lessons ol,ul {
  margin: 20px 0px 0px 85px;
}
#lista-lessons li{
  margin-right: 30px;
}
table{
  margin-left:70px
}
th,td{
  text-align: center;
}
table,th,td{
  border: 1px solid darkslategray;
}
.lado-esquerdo,.lado-direito {
  display:inline-block;
  max-width: 100%;
}
.lado-esquerdo {
  max-width: 50%;
}
.lado-esquerdo article{
  text-align: initial;
  min-width:70%;
  margin-left:20px;  
}
.lado-esquerdo h1 {
  text-align: center;
  margin: 0px 0px 10px 10px
}
.lado-esquerdo p {
  margin-left: 10px;
  text-align: justify;
  word-spacing: 2px;
}
.lado-esquerdo span{
  padding-top:170px;
  border-left: 2px solid #32a791;
  margin-right: 10px;
}

.lado-direito div{
  display: block;
}
.lado-direito aside{
  text-align: center;
  max-width:708px;
  padding-bottom: 10px;
}

.lado-direito {
  text-align: end;
  background-color: black;
  color: whitesmoke;
}
.lado-direito h2 {
  margin-top: 10px;
  text-align: center;
  color: azure;
}
.lado-direito p {
  font-size: 13px;
  text-align:center;
  margin: 10px 15px 0px 15px;
  
}
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
footer p {
  margin: 15px 0px 0px 15px;
  color: white;
}
footer img {
  margin-right: 25px;
  width: 50px;
  border-radius: 12rem;
  filter: invert(100%);
}

