* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: rgb(253, 251, 251);
}
h1 {
    font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: bold;
}
p,
a {
  font-family: "Nunito Sans", sans-serif;
}
a {
  text-decoration: none;
}
header {
  border: 0%;
  top: 0px;
  padding-top: 40px;
  position: fixed;
  min-width: 100%;
  background-color: #32a791;
  color: white;
  z-index: 10;
}
#headerbox nav {
  float: right;
  margin: 0px 40px 20px 0px;
}
#headerbox h1 {
  text-align: center;
  margin-bottom: 20px;
}
#headerbox a {
  color: white;
}
#photo-name {
  float: left;
  display: flex block;
  width: 300px;
  z-index: 1;
}
#photo-name img {
  width: 300px;
  object-fit: cover;
  height: 600px;
  border-radius: 15rem;
}
#photo-name h2 {
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-around;
}
#lesson {
  margin-top: 150px;
  min-width: 60%;
}
#lesson h2 {
  text-align: center;
}
#trilhas {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}
#trilhas img {
  width: 200px;
}
#FrontEnd {
  max-width: auto;
  display: block;
  align-items: center;
}
#FrontEnd h2 {
  text-align: center;
}
#frontend-lessons img {
  width: 60px;
  margin: 0px 0px 10px 65px;
}
#unix {
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
}
#Softskills {
  max-width: auto;
  display: block;
  align-items: center;
}
#softskills-lessons img {
  width: 60px;
  margin: 0px 0px 10px 65px;
}
#puzzle{
  transform:rotate(-26deg)
}
#lista-lessons {
  margin-top: 10px;
}
#lista-lessons h2 {
  margin-top: 30px;
}
#lista-lessons ol,
ul {
  margin: 20px 0px 0px 85px;
}
#art_ap {
  max-width: auto;
  margin: 0px 200px 10px 10px;
  max-width: 33.33333%;
  line-height: 25px;
}
#art_ap h1 {
  text-align: center;
  margin-bottom: 10px;
}
#art_ap p {
  margin-left: 10px;
  text-align: justify;
  word-spacing: 2px;
}
#last section,article{
  display: inline-block;
}
#passage {
  width: 13%;
  float:right;
  margin-right:80px;
}
#passage h2 {
  font-size: 17px;
  text-align: center;
}
#passage p {
  margin-top: 5px;
  font-size: 13px;
  text-align: initial;
  margin-left: 25px;
}
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
footer p {
  margin: 15px 0px 0px 15px;
  color: white;
}
footer img {
  margin-right: 25px;
  width: 50px;
  border-radius: 12rem;
  filter: invert(100%);
}

