* {
  margin: 0;
  padding: 0;
}

a {
  font-family: Courier New, Courier, monospace;
}

body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: lightseagreen;
  top: 0;
  position: fixed;
  min-width: 100%;
  text-align: center;
  padding: 20px;
}

header h1 , h2 {
  color: white;
  text-shadow: 2px 2px black;
}

nav {
  text-align: end;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 1px dashed darkgreen;
  margin-right: 10px;
  font-weight: 800;
}

#minha_foto {
  min-width: 300px;
  width: 300px;
  border-radius: 10rem;
  margin: -10px;
  margin-left: 100px;
}

.photo_section {
  display: inline;
  min-width: 100%;
}

.trials {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

#frontend , #softskills , #lists h3 {
  text-align: center;
}

#main_front , #main_soft {
  width: 200px;
}

#lists ul , ol {
  margin: 30px;
}
